# API Settings
API_V1_STR=/api/v1
PROJECT_NAME="Phsar Kasikor App Backend"

# Security (Change this in production!)
# Generate using: openssl rand -hex 32
SECRET_KEY=yoursecretkeyhere_change_in_production
ACCESS_TOKEN_EXPIRE_MINUTES=11520

# Database
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=phsarkasikor
# For SQLite: sqlite:///./sql_app.db
# For PostgreSQL: postgresql://user:password@hostname:5432/dbname
DATABASE_URL=postgresql://postgres:postgres@db:5432/phsarkasikor

# Docker Container Config
PROJECT_APP_NAME=phsar_kasikor
POSTGRES_PORT=5432
API_PORT=8000
